{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<div class="wishlist">
    {% for page in paginator.pages %}
        <article class="wishlist-item">
            <h2>{{ page.title }}</a></h2>
            <div class="item__summary">
                {{ page.summary | safe }}
            </div>
            <a href="{{ page.permalink }}#continue-reading">Not convinced?</a>
        </article>
    {% endfor %}
</div>
<nav class="pagination">
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
</nav>
{% endblock content %}